*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header  h1 nav p {
    text-align: center;
    display: inline-block;
}


header h1 nav p{
    display: inline-block;
}


p{
    text-align: right;
    margin: 10px;
}



h1{
    font-size: 24px;
    font-weight: bold;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #0a2066;
    color: white;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin: 0 15px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.user-options{
    display: flex;
}

.user-options a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.btn-register {
    background: #1E90FF;
    padding: 5px 10px;
    border-radius: 5px;
    color: #1E3A8A;
}

.btn-register:hover {
    background: #1565C0;
    padding: 5px 10px;
    border-radius: 5px;
    color: #F5F5F5;
}

.btn-login {
    background: #1565C0;
    padding: 5px 10px;
    border-radius: 5px;
    color: #F5F5F5;
}

.btn-login:hover {
    background: #1E90FF;
    padding: 5px 10px;
    border-radius: 5px;
    color: #F5F5F5;
}

body{
    background-image: url(code.avif);
    
    background-position: center;
}
